* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1265px;
  margin-inline: auto;
}

/* NavBar */

nav {
  padding-block: 12px;
  border-bottom: 2px solid rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 5;
}

.nav-header {
  justify-content: space-between;
}

.StarLogo {
  width: 2.5rem;
}

.nav-links li a {
  padding: 2px 12px 10px 12px;
  margin-left: 40px;
}

.nav-links li :focus {
  padding: 2px 12px 10px 12px;
  border-bottom: 2px solid darkgreen;
  font-weight: 600;
}

.nav-header-links ul {
  font-size: 17px;
}

.nav-input-main-header {
  margin-right: 100px;
  max-width: 400px;
}

.input-icons i {
  position: absolute;
}

.search-icon {
  padding: 10px;
  min-width: 40px;
  font-size: 18px;
  color: rgb(189, 188, 188);
}

.searchBar {
  border-radius: 50px;
  width: 260px;
  height: 38px;
  padding-block: 15px;
  padding-left: 40px;
  box-shadow: 0px 0px 3px 0.1px rgb(189, 188, 188);
  border: none;
}

.nav-right-corner {
  flex-basis: 300px;
  justify-content: end;
  align-items: center;
}

.nav-right-corner input {
  padding-left: 40px;
}

.nav-right-corner ::placeholder {
  color: rgb(189, 188, 188);
}

.nav-profile-logo-container {
  padding-right: 5px;
}

.Nav-profile-logo {
  width: 30px;
}

/* Sub Nav Header */

.sub-nav-hero {
  margin-top: 15px;
  background-color: #1e3932;
  color: #f9f9f9;
  padding-block: 1.5rem;
}

.sub-nav-container {
  justify-content: space-between;
}

.sub-nav-container h2 {
  font-weight: 400;
  font-size: 21px;
}

.sub-nav-container a {
  color: white;
  border-radius: 50px;
  border: 1px solid whitesmoke;
  padding: 8px 20px;
  font-size: 13px;
  margin-right: 15px;
}

/* Product Section */

.slider {
  padding-block: 30px;
}

.slider-cards a {
  display: block;
  text-align: center;
}
.slider-bg-2 {
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}

.slider-cards-slab {
  object-fit: cover;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  box-shadow: 0px 0px 10px rgb(186, 183, 183);
  border-radius: 50%;
}

.slider-container {
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.slider-label {
  font-size: 0.9rem;
  color: rgb(90, 88, 88);
}

/* Hero-Section */

.disply-hero-slider {
  margin-top: 60px;
  background-color: darkorange;
  width: 100%;
  height: 220px;
  padding: 25px;
  padding-left: 150px;
}

.hero-pumpkin {
  width: 100px;
  position: absolute;
  top: 31rem;
  left: 130px;
}

.disply-box1 {
  flex-direction: column;
  align-items: flex-start;
}

.disply-box1 h5 {
  margin-block: 10px;
  font-weight: 500;
  font-size: 14px;
}

.disply-box2 {
  justify-content: space-between;
  margin-top: 40px;
}

.order-btn {
  padding: 10px 60px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: darkgreen;
}

/* Box-Cards */

.boxcards-section {
  margin-top: 50px;
}

.boxcards-slabs {
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxcards-slabs h3 {
  margin-block: 12px;
}

.boxcards-slabs p {
  color: grey;
}

.card-container-img {
  height: 200px;
  width: 100%;
}

.card-text {
  justify-content: space-between;
}

.card-container-box {
  flex-direction: column;
  max-width: 32%;
  height: 400px;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px 0.8px rgb(191, 190, 190);
}

.card-body-container {
  padding: 5px 20px 20px 20px;
}

.new-launch {
  justify-content: flex-start;
}

.card-left-text {
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}

.card-left-text p {
  font-size: 13px;
}

.launch-text {
  font-size: 10px;
  background-color: rgb(228, 253, 228);
  border-radius: 15px;
  padding: 5px 8px;
  color: green;
  font-weight: 400;
}

.purchase {
  margin-top: 12px;
  justify-content: space-between;
}

.Add-item {
  border-radius: 50px;
  border: none;
  background-color: darkgreen;
  color: white;
  padding: 8px 20px;
}

.card-text-p {
  font-size: 10px;
}

/* Small-BoxCard */

.smallCard-section {
  margin-top: 60px;
  background-color: #edebe9;
  padding-block: 30px 50px;
}

.small-boxcards-slabs {
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-card-container-box {
  flex-direction: column;
  max-width: 32%;
  width: 400px;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 15px 20px;
  align-items: flex-start;
  height: 180px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0.8px rgb(191, 190, 190);
  border-radius: 10px;
  background-color: white;
}

.sub-small-div {
  padding-left: 15px;
}

.sub-small-div p {
  margin-top: 8px;
  font-size: 10px;
  color: grey;
}

.sub-small-box-img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.offer {
  margin-top: 20px;
  justify-content: space-between;
}

.Add-item {
  border-radius: 50px;
  border: none;
  background-color: #076644;
  color: white;
  padding: 8px 20px;
}

/* More About Coffee */

.Detail-of-coffee {
  margin-top: 40px;
  background-color: #edebe9;
  padding-block: 30px;
}

.more-header {
  justify-content: space-between;
}

.discover_more {
  color: darkgreen;
  font-weight: 900;
  font-size: 13px;
}

.highlight-disply {
  margin-top: 35px;
  width: 100%;
  height: 350px;
  background-image: linear-gradient(rgba(9, 9, 9, 0.128), rgba(1, 11, 21, 0.75)),
    url("./Assets/starbuck_hero_Home_img.jpg");
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
}

.highlight-disply-a {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.highlight-content {
  flex-direction: column;
  align-items: flex-start;
  line-height: 40px;
  color: white;
}

.highlight-disply-learn-more-btn {
  margin-top: 40px;
  padding: 10px 70px;
  border-radius: 30px;
  border: none;
}

/* Footer */

/* Footer Header */

.footer-section {
  margin-top: 50px;
  background-color: #0e382c;
  padding-block: 50px;
  color: white;
}

.footer-section a {
  color: white;
}

.footer-header-content {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.footer-web-logo-img {
  width: 60px;
}

.footer-info-tag {
  flex-direction: column;
  align-items: flex-start;
  line-height: 40px;
}

.footer-header-text {
  font-size: 19px;
  font-weight: 900;
}

.footer-social-links {
  gap: 40px;
  font-size: 28px;
  margin-top: 10px;
}

.footer-social-links i {
  color: white;
}
/* Download Section */

.download-source {
  flex-direction: column;
  align-items: flex-start;
}

.download-img {
  width: 200px;
}

/* Footer Bottom */

.sub-footer-section {
  margin-top: 25px;
}

.sub-footer-main {
  justify-content: space-between;
}

.sub-footer-box1 a {
  padding-right: 30px;
}

/* End */
